{:aliases
 {:dev {:extra-paths ["development"]
        :extra-deps {;; Components
                     ds/games/battleship {:local/root "components/battleship"}
                     ds/games/damn-and-blast {:local/root "components/damn-and-blast"}

                     ;; Bases
                     ds/main {:local/root "bases/website"}

                     ;; Dev dependencies
                     org.clojure/clojure {:mvn/version "1.11.1"}
                     integrant/repl {:mvn/version "0.3.2"}}}

  :test {:extra-paths [;; Component Tests
                       "components/battleship/test"
                       "components/damn-and-blast/test"

                       ;; Bases Tests
                       "bases/website/test"]

         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :runner {:extra-paths []
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :main-opts ["-m" "cognitect.test-runner"]
           :exec-fn cognitect.test-runner.api/test}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polyfy/polylith
                      {:git/url   "https://github.com/polyfy/polylith.git"
                       :sha       "928e9ddce6c08889ce36e6b8367b57a6993295c6"
                       :deps/root "projects/poly"}}}}}
