version: "3.8"
services:
  ds-server:
    image: ds-server:latest
    build: ./
    ports:
      - "3000:3000"
    labels:
      - "com.draconicsystems.description=Web server"
      - "com.draconicsystems.labels.clojure"
      - "com.draconicsystems.labels.reitit"

  couchdb-master:
    image: bitnami/couchdb:3
    environment:
      - "COUCHDB_USER=admin"
      - "COUCHDB_PASSWORD_FILE=/run/secrets/couchdb-password"
    ports:
      - "5984:5984"
    secrets:
      - couchdb-password
    volumes:
      - couchdb-master-vol:/bitnami/couchdb

secrets:
  couchdb-password:
    external: true

volumes:
  couchdb-master-vol:
