#kaocha/v1
{:tests [{:id :unit}
         {:id :integration
          :test-paths ["int-test"]}]

 :color? #profile {:default true
                   :ci false}
 :fail-fast? false

 :reporter #profile {:default kaocha.report.progress/report
                     :ci kaocha.report/documentation}

 :plugins [:capture-output
           :filter
           :profiling
           :randomize]

 ;; Plugin configuration
 :kaocha.plugin.profiling/count 3
 :kaocha.plugin.profiling/profiling? true

 :kaocha.plugin.randomize/randomize? true}

