<div class="flex items-center justify-center ds-gradient">
  <h1 class="text-white font-brand font-bold text-3xl">
    Instantly share code, notes and snippets
  </h1>
</div>
<.live_component module={GistFormComponent} id={:new} current_user={@current_user} />
