;;
;; Configuration
;;
{:ds/db {:database-url "http://localhost:5984"
         :type :couchdb}

 :ds/cache {:pool {}
            :spec {:uri "redis://localhost:6379/"}}

 :ds/app {:db #ig/ref :ds/db
          :cache #ig/ref :ds/cache}

 :ds/server {:handler #ig/ref :ds/app
             :port 3000
             :join? false}}
