<div class="flex flex-col justify-center items-center ds-gradient text-white w-full mx-auto">
  <p class="font-brand font-regular text-4xl">
    Jay Barra
  </p>
  <p class="font-brand font-regular">Software Engineer</p>
  <div class="mt-12"><a href={~p"/create"}>Create a Gist</a></div>
</div>
