<div class="flex flex-col text-white font-brand font-regular p-64 ">
  <p>
    Draconic Systems is my personal website. It is written in Elixir using Phoenix.
  </p>

  <div class="flex flex-col mt-16">
    <div><a href={~p"/create"}>Create a Gist</a></div>
  </div>
</div>
