{:paths ["src" "resources"]

 :deps {buddy/buddy {:mvn/version "2.0.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.taoensso/timbre {:mvn/version "6.1.0"}
        environ/environ {:mvn/version "1.2.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        integrant/integrant {:mvn/version "0.8.1"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.6.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}}

 :aliases
 {:test {:extra-paths ["test"]}}}
