name: Build POM

on:
  push:
    paths:
      - 'project.clj'

jobs:
  build_pom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        if: github.ref == 'refs/heads/master'

      - name: Build pom.xml
        run: lein pom
        if: github.ref == 'refs/heads/master'

      - name: Add & Commit
        uses: EndBug/add-and-commit@v5.2.0
        if: github.ref == 'refs/heads/master'
        with:
          add: 'pom.xml'
          message: 'auto-generate pom.xml for dependabot'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
