name: Deployment CI

on:
  push:
    branches:
      - master

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: lein deps

      - name: Run Tests
        run: lein kaocha --focus :unit

  build_and_deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: lein deps

      - name: Run Tests
        run: lein kaocha --focus :unit

      - name: Build Uberjar
        run: lein uberjar

      - name: Build Docker Images
        run: docker-compose build

      - name: Build Docker Images
        run: docker-compose push

      - name: Deploy Docker Stack
        run: |
          docker stack deploy
          --with-registry-auth
          --prune
          -c docker-compose.yml
          ds
