name: Production Deployment
on:
  push:
    branches:
      - main
jobs:
  build-uberjar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          cli: latest
          lein: latest

      - name: Install dependencies
        run: lein deps

      - name: Run Tests
        run: lein kaocha --focus :unit

      - name: Build Uberjar
        run: lein uberjar

  production-deploy:
    needs: [build-uberjar]
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Images
        run: docker-compose build

      - name: Build Docker Images
        run: docker-compose push

      - name: Deploy Docker Stack
        run: |
          docker stack deploy --with-registry-auth --prune -c docker-compose.yml ds
